<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>Controllers.homeController</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Controllers.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>Controllers.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileController</servlet-name>
        <servlet-class>Controllers.profileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>Controllers.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchController</servlet-name>
        <servlet-class>Controllers.searchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomManagerController</servlet-name>
        <servlet-class>Controllers.roomManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservationController</servlet-name>
        <servlet-class>Controllers.reservationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reserveController</servlet-name>
        <servlet-class>Controllers.reserveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>Controllers.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hotelManagerController</servlet-name>
        <servlet-class>Controllers.hotelManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackController</servlet-name>
        <servlet-class>Controllers.feedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingController</servlet-name>
        <servlet-class>Controllers.bookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetPassword</servlet-name>
        <servlet-class>Controllers.forgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetPasswordOTP</servlet-name>
        <servlet-class>Controllers.forgetPasswordOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Controllers.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManager</servlet-name>
        <servlet-class>Controllers.UserManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>becomesOwnerController</servlet-name>
        <servlet-class>Controllers.becomesOwnerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackManagerController</servlet-name>
        <servlet-class>Controllers.feedbackManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewUpdateOwnerControlller</servlet-name>
        <servlet-class>Controllers.viewUpdateOwnerControlller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/homeController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileController</servlet-name>
        <url-pattern>/profileController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/registerController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchController</servlet-name>
        <url-pattern>/searchController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomManagerController</servlet-name>
        <url-pattern>/roomManagerController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservationController</servlet-name>
        <url-pattern>/reservationController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reserveController</servlet-name>
        <url-pattern>/reserveController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hotelManagerController</servlet-name>
        <url-pattern>/hotelManagerController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackController</servlet-name>
        <url-pattern>/feedbackController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingController</servlet-name>
        <url-pattern>/bookingController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetPassword</servlet-name>
        <url-pattern>/forgetPassword/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetPasswordOTP</servlet-name>
        <url-pattern>/forgetPasswordOTP/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManager</servlet-name>
        <url-pattern>/UserManager/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dashboardController</servlet-name>
        <servlet-class>Controllers.dashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboardController</servlet-name>
        <url-pattern>/dashboardController/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>reserveManagerController</servlet-name>
        <servlet-class>Controllers.reserveManagerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reserveManagerController</servlet-name>
        <url-pattern>/reserveManagerController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>feedbackManagerController
        <servlet-name>becomesOwnerController</servlet-name>
        <url-pattern>/becomesOwnerController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackManagerController</servlet-name>
        <url-pattern>/feedbackManagerController/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewUpdateOwnerControlller</servlet-name>
        <url-pattern>/viewUpdateOwnerControlller/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
